.FormInfo {
	margin: auto;
    width: 75%;
	padding: 60px 0;
}

.EmailSearch {
	margin: 30px;
}

.EmailInput {
	margin-bottom: 10px;
}

.PasswordInput {
	margin-bottom: 10px;
}

.Company-List {
	max-height: 250px;
	overflow-y:scroll;
}

.YourCompany-List {
	max-height: 250px;
	overflow-y:scroll;
}

.CompanyIcon {
	height: 18px;
	width: auto;
}

.Company-List-Element {
	text-align: left;
}

.NumberLabel {
	text-align: left;
}

.DescriptionLabel {
	text-align: left;
}

p {
	white-space: pre-wrap
}